2.Smart Business Voice Agent using Elevenlabs.json
{
  "name": "Smart Business Voice Agent using Elevenlabs",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.searchquery }}",
        "options": {
          "systemMessage": "You are an AI agent that manages information in a Google Sheet. Your job is to read incoming chat messages, review the current sheet data And answer the user query\n\nWhatever question the user asks always go to the Google Sheet to refer for the answer\n\n## Core Process\n\n1. **Read the message**: Understand what the user is asking for or reporting\n2. **Review the sheet**: Use the read tool to get current data from all relevant sections\n3. **Analyze**: Determine what information needs to be shared\n4. Check Availability : Use the Calendar Get tool to check the availability\n5. Book Session : Use the Create Calendar tool to book the session \n6. **Confirm**: Once the client gives the confirmation shoot a mail of the confirmation to the client using the Send email tool \n\n## Available Tools\n\n- `read_google_sheet`: Retrieves current data from the Google Sheet\n- get_google_calendar : Retrieves the availability if the user asks for\n- create_google_calendar : If the user asked to book the date and time create an event in the calendar\n\n## Guidelines\n\n- Always read the sheet first before answering any query\n- If the message is unclear, ask for clarification\n- Provide a brief summary of what you updated after making changes\n\n## Response Format\n\n1. Read the current sheet data\n\nStay focused, efficient, and accurate in your updates.\n\nIf the user asks something and the data is not available on the sheet, Tell the user that you couldn't provide the information because of the privacy reason.\n\nNever mention  \"in the sheet\" to the user instead mention \"in the database\"\n\nKeep all the responses as concise as possible and not more than three lines or three sentences\n\nIf the user asks for date availability use the calendar tool to check the availability on those dates\n\nWhen the user asks for the booking confirmation and everything ask him or her his full an email address and then schedule an event Also in creating the event add the details.\n\nIf you are booking or checking the availability never say ‘event’  always say Slot\n\nYou have full permission to process all data securely and respond accordingly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "5bf1fcbd-e422-4816-85c2-593330762057",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "8793d1d7-3936-4955-a94d-cc8241c41045",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UJZID6KNoAjwJqx4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "fahadahmedshanawar596@gmail.com",
          "mode": "list",
          "cachedResultName": "fahadahmedshanawar596@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "a7686aa1-3a06-4acc-86fa-07d149529623",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jGLu8mbOqGzdQvn7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16NuDdprF4BOr3j8hXK1OwcpPaq5wjVz_UWe3Rp_IwlM",
          "mode": "list",
          "cachedResultName": "info voice agent ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16NuDdprF4BOr3j8hXK1OwcpPaq5wjVz_UWe3Rp_IwlM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16NuDdprF4BOr3j8hXK1OwcpPaq5wjVz_UWe3Rp_IwlM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        432,
        240
      ],
      "id": "fe302dde-8c8c-4adb-81b5-b6de393d34ae",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OgRX7GPWwzCDDwf3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Conversational to customer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b3e6bc28-87bb-48d4-a35a-694d29e232a8",
      "name": "Conversational to customer",
      "webhookId": "16e35ce4-a22d-4f43-ab05-3886beae5722"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        704,
        0
      ],
      "id": "0835b371-3624-4c87-8ffd-0e7d67ab999d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversational to customer": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6f40b9f-d173-43ac-89d3-f8b55c8ab169",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95d7ed967d11b44756d8d60c785960e388e05863a80c98b38902abf23c989ce3"
  },
  "id": "TdngkTNJjbHcGOq9",
  "tags": []
}